extends layout

block content
  .container
    h1 The Myth of Icarus
    h2 On an escape attempt from the island of Crete, Icarus, son of Daedalus, fell in love with the sun and flew as high as he could before fallen to his premature death in the Icarian Sea. Many scholars debate whether Icarus should be praised for his mighty attempt (as 
      a(href='http://www.goodreads.com/quotes/show/178823', target='_blank') Oscar Wilde writes
      | ), or be used as a cautionary tale to those with failed ambition (as per the standard Greco-Roman interpretation).
    h2 Without further ado, you are now an Icarus. You must decide for yourself how you would fly. Good luck and good flight.
    img(src='/images/icarus.jpg')
