extends layout

block content
  .container
    h3 Like you've seen? Find me on 
      a(href="http://github.com/janewang") github
      |  or on twitter at 
      a(href='https://twitter.com/#!/JaneyLWang') @janeylwang
      | .