extend layout

block content
  h2 Jane Wang is a mobile software engineer at 
    a(href='http://www.etsy.com', target='_blank') Etsy
    | , a graduate of 
    a(href='http://www.hackerschool.com', target='_blank') Hacker School
    | , the founder of Parkit Labs, and formerly a product manager at financial tech startup, an investment banker, and a hedge fund racketeer. She is a supporter of female hackers and entrepreneurs. In her free time, she blogs at 
    a(href='http://www.janelwang.com', target='_blank') Isometric Cube
    | , writes for content platforms, including Forbes, Women 2.0 and TechWomen, and makes things with brackets, numbers, and paint. Contact her on 
    a(href='http://twitter.com/janeylwang', target='_blank') twitter
    | or find her on 
    a(href='http://www.github.com/janewang', target='_blank') github
    | .
