extends layout

block content
  .container

    .row
      canvas#particles(height='600px', width='960px')
      div#highscorer
    .row  
      h4 Icarus Life Status
      .container
          .progress
            .bar(style='width: 100%;')
      hr
      footer
        p © Icarus 2013
