@font-face {
  font-family: 'Ubuntu';
  font-style: normal;
  font-weight: 400;
  src: local('Ubuntu'), url(http://themes.googleusercontent.com/static/fonts/ubuntu/v4/vRvZYZlUaogOuHbBTT1SNevvDin1pK8aKteLpeZ5c0A.woff) format('woff');
}

body {
  background: #FFF;
  background-image: url('../images/shattered.png');
  background-repeat: repeat;
}

h1 {
  font-size: 40px;
  padding-bottom: 10px;
}

h2 {
  font-size: 27px;
  padding-bottom: 5px;
}

h1, h2, h3, h4, h5, h6, p {
  font-family: 'Ubuntu', sans-serif;
}

a {
  color: #00B7FF;
}

img {
  position: relative;
  display: block;
  margin: auto;
}
